<?xml version="1.0" encoding="utf-8" ?>
<DragonflySiteAuditor>

 <!-- Property Editors which use DocumentTypes as part of their configuration (such as NestedContent)
 ContentTypeConfigKey= the prevalue key used to provide ContentType data
-->
  <ElementPropertyEditors>
    <Editor alias="Umbraco.NestedContent" ContentTypeConfigKey=""></Editor>

  </ElementPropertyEditors>

</DragonflySiteAuditor>