@using Sprott.Core.SiteAuditor.Models

@model NodePropertyDataTypeInfo

@if (Model.UsesComposition)
{
    <span>@Model.DocTypeAlias [@Model.DocTypeCompositionAlias]</span>
}
else
{
    <span>@Model.DocTypeAlias</span>
}
