@using Dragonfly.Umbraco7Helpers
@using Sprott.Core.SiteAuditor.Models

@model IPublishedProperty

@{
    var fancyFormat = Mvc.GetSafeViewDataBool(ViewData, "FancyFormat", true);
    var tagFilterName = Mvc.GetSafeViewDataString(ViewData, "TagFilterName", "TagFilter");
    var tagData = Model.GetValue<IEnumerable<string>>().ToList();

    if (tagData != null && tagData.Any())
    {
        if (fancyFormat)
        {
            foreach (var tag in tagData)
            {
                var tagUrl = Dragonfly.NetHelpers.Url.AppendQueryStringToUrl(Request.RawUrl, tagFilterName, tag);

                <a href="@tagUrl"><span class="label label-primary">@tag</span></a>
            }
        }
        else
        {
            <span>@string.Join(", ", tagData)</span>
        }

    }
    else
    {
        if (fancyFormat)
        {
            var tagUrl = Dragonfly.NetHelpers.Url.AppendQueryStringToUrl(Request.RawUrl, tagFilterName, "none");

            <a href="@tagUrl"><span class="label label-default">none</span></a>
        }
        else
        {
            <i>none</i>
        }
    }
}


